:root {
    --outer-space: #25223D;
    --dark-green: #009933;
    --background: #000000;
    --gen: #ffffff;
}

::selection {
    background-color: var(--dark-green);
    color: var(--background);
}

html {
    font-size: 63%;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--gen);
    background-color: var(--background);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.625rem;
    color: var(--dark-green);
    font-weight: 700;
    line-height: 1.1;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    border: 2px solid var(--outer-space);
    padding: 10px;
}

main {
    width: 96%;
    margin: 2rem auto;
}

/* Style header name */
.name {
    font-size: 40px;
    font-style: italic;
    font-family: cursive;
    padding-left: 25px;
}

/* Made navigation bar list to be row */
nav li {
    display: inline;
    padding-right: 1.6rem;
}

/* Style container for portfolio image */
.picture-frame {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: auto;
    padding: 10px 100px 10px 80px;
    border-bottom: 2px solid var(--outer-space);
}

/* Style header above portfolio image */
.picture h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 30px;
    font-style: oblique;
    border: 2px dashed var(--outer-space);
}

/* Style portfolio picture */
.profile {
    border-radius: 200px;
    height: auto;
    width: 150px;
}

/* Flex-box */
.column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Adjust cards and give transition  */
.content-column {
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
}

/* Flex within the Project container */
.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.flex .box {
    height: auto;
    margin: 5px;
    border: 2px dashed var(--outer-space);
    text-align: center;
    font-style: italic;
}

.style-picture {
    width: 100%;
}

.container  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    padding: 2rem;
    color: var(--dark-green);
    outline: 2px dashed var(--outer-space);
    outline-offset: -1px;
    transition: all 0.5s ease-in-out;
    margin-top: 20px;
}

.content .card-header {
    position: relative;
    margin: -4rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: var(--background);
    color: var(--dark-green);
    border: 2px solid var(--outer-space);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    text-align: center;
}

.content:hover,
.content:hover .card-header {
    box-shadow: inset 0 0 8px var(--dark-green), 0 0 15px var(--dark-green);
}

footer {
    height: 20px;
    width: 100%;
    padding: 10px;
}

footer h2 {
    padding: 10px;
    text-align: center;
    border: 2px solid var(--outer-space);
    font-size: 25px;
}

footer li {
    display: inline;
    padding: 15px 15px 30px 15px;
    color: var(--gen);
}

/* When the screen goes below 500px background color changes */
@media screen and (max-width: 500px) {
    header {
        background-color: rgba(255, 0, 0, 0.671);
    }
}